server:
  port: 8772
  
eureka:
  client: 
    register-with-eureka: false
    service-url: 
      defaultZone: http://localhost:8761/eureka/
  instance:
    lease-expiration-duration-in-seconds: 10
    lease-renewal-interval-in-seconds: 5