
spring: 
  profiles: 
    active: 
    - dev
  
---
server:
  port: 8788
  
eureka:
  instance: 
    prefer-ip-address: true #使用IP注册
    instance-id: ${spring.application.name}:${server.port}
    ##续约到期时间10秒，默认是90秒
    #lease-expiration-duration-in-seconds: 10
    ##续约更新时间间隔设置5秒，m默认30s
    #lease-renewal-interval-in-seconds: 5
  client: 
    service-url: 
      defaultZone: http://localhost:8761/eureka/

feign: 
  hystrix: 
    enabled: true 
    
##调整格隔离策略,防止feign相互之间调用丢失参数
hystrix:
  command:
    default:
      execution:
        isolation:
          strategy: SEMAPHORE
          thread: 
            timeoutInMilliseconds: 12000

info: 
  app.name: ${spring.application.name}
  company.name: www.xph.com
  build.artifactId: $project.artifactId$
  build.version: $project.version$
  
spring: 
  profiles: dev
  application:
    name: znzj-statistics-service
  datasource:
     type: com.alibaba.druid.pool.DruidDataSource
     platform: mysql
     url: jdbc:mysql://121.201.65.111:6306/ellison?useUnicode=true&characterEncoding=utf-8
     username: root
     password: 123456
  redis:
    host: 121.201.65.111
    port: 6079
    password: ahui123321
    timeout: 25000 
    clusterNodes: 121.201.65.111:7003
    isCluster: false


mybatis: 
  type-aliases-package: com.znzj.model
  mapper-locations: classpath:mapper/**/*.xml
  
---
server:
  port: 8788
  
eureka:
  instance: 
    prefer-ip-address: true #使用IP注册
    instance-id: ${spring.application.name}:${server.port}
    ##续约到期时间10秒，默认是90秒
    #lease-expiration-duration-in-seconds: 10
    ##续约更新时间间隔设置5秒，m默认30s
    #lease-renewal-interval-in-seconds: 5
  client: 
    service-url: 
      defaultZone: http://localhost:8761/eureka/

feign: 
  hystrix: 
    enabled: true 
    
##调整格隔离策略,防止feign相互之间调用丢失参数
hystrix:
  command:
    default:
      execution:
        isolation:
          strategy: SEMAPHORE
          thread: 
            timeoutInMilliseconds: 120000

info: 
  app.name: ${spring.application.name}
  company.name: www.xph.com
  build.artifactId: $project.artifactId$
  build.version: $project.version$
  
spring: 
  profiles: test 
  application:
    name: znzj-statistics-service
  datasource:
     type: com.alibaba.druid.pool.DruidDataSource
     platform: mysql
     url: jdbc:mysql://localhost:3306/ellison?useUnicode=true&characterEncoding=utf-8
     username: root
     password: 123456
  redis:
    host: localhost 
    port: 6379
    password: ahui123321
    timeout: 25000 
    clusterNodes: 121.201.65.111:7003
    isCluster: false

mybatis: 
  type-aliases-package: com.znzj.model
  mapper-locations: classpath:mapper/**/*.xml

