
spring: 
  profiles: 
    active: 
    - dev
  
---
server:
  port: 8782
  
eureka:
  instance: 
    prefer-ip-address: true #使用IP注册
    instance-id: ${spring.application.name}:${server.port}
    ##续约到期时间10秒，默认是90秒
    #lease-expiration-duration-in-seconds: 10
    ##续约更新时间间隔设置5秒，m默认30s
    #lease-renewal-interval-in-seconds: 5
  client: 
    service-url: 
      defaultZone: http://localhost:8761/eureka/

feign: 
  hystrix: 
    enabled: true 
    
##调整格隔离策略,防止feign相互之间调用丢失参数
hystrix:
  command:
    default:
      execution:
        isolation:
          strategy: SEMAPHORE
          thread: 
            timeoutInMilliseconds: 60000

info: 
  app.name: ${spring.application.name}
  company.name: www.xph.com
  build.artifactId: $project.artifactId$
  build.version: $project.version$
  
spring: 
  profiles: dev
  application:
    name: znzj-analyzer-service
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    platform: mysql
    url: jdbc:mysql://121.201.65.111:6306/ellison?useUnicode=true&characterEncoding=utf-8
    username: root
    password: 123456
  redis:
    host: 121.201.65.111
    port: 6079
    password: ahui123321
    timeout: 25000 
    redis:
    isCluster: false
  messages:
    encoding: UTF-8
  http: 
    multipart: 
      enabled: true   # 启用http上传处理
      max-file-size: 100MB # 设置单个文件的最大长度
      max-request-size: 100MB # 设置最大的请求文件的大小
      file-size-threshold: 1MB  # 当上传文件达到1MB的时候进行磁盘写入
      location: /  # 上传的临时目录

ribbon:
  ReadTimeout: 60000
  ConnectTimeout: 60000
  MaxAutoRetries: 0
  MaxAutoRetriesNextServer: 1 
  
sftp: 
  host: 121.201.65.111
  port: 6022
  username: root
  password: 123456

mybatis: 
  type-aliases-package: com.znzj.model
  mapper-locations: classpath:mapper/**/*.xml
  
---
server:
  port: 8782
  
eureka:
  instance: 
    prefer-ip-address: true #使用IP注册
    instance-id: ${spring.application.name}:${server.port}
    ##续约到期时间10秒，默认是90秒
    #lease-expiration-duration-in-seconds: 10
    ##续约更新时间间隔设置5秒，m默认30s
    #lease-renewal-interval-in-seconds: 5
  client: 
    service-url: 
      defaultZone: http://localhost:8761/eureka/

feign: 
  hystrix: 
    enabled: true 
    
##调整格隔离策略,防止feign相互之间调用丢失参数
hystrix:
  command:
    default:
      execution:
        isolation:
          strategy: SEMAPHORE
          thread: 
            timeoutInMilliseconds: 60000

info: 
  app.name: ${spring.application.name}
  company.name: www.xph.com
  build.artifactId: $project.artifactId$
  build.version: $project.version$
  
spring: 
  profiles: test
  application:
    name: znzj-analyzer-service
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    platform: mysql
    url: jdbc:mysql://localhost:3306/ellison?useUnicode=true&characterEncoding=utf-8
    username: root
    password: 123456
  redis:
    host: localhost 
    port: 6379
    password: ahui123321
    timeout: 25000 
    isCluster: false
  messages:
    encoding: UTF-8
  http: 
    multipart: 
      enabled: true   # 启用http上传处理
      max-file-size: 100MB # 设置单个文件的最大长度
      max-request-size: 100MB # 设置最大的请求文件的大小
      file-size-threshold: 1MB  # 当上传文件达到1MB的时候进行磁盘写入
      location: /  # 上传的临时目录

      
ribbon:
  ReadTimeout: 60000
  ConnectTimeout: 60000
  MaxAutoRetries: 0
  MaxAutoRetriesNextServer: 1 
  
sftp: 
  host: 121.201.65.111
  port: 6022
  username: root
  password: 123456

mybatis: 
  type-aliases-package: com.znzj.model
  mapper-locations: classpath:mapper/**/*.xml

